.idea/
.vscode/

.env
.env.*
!.env.example

venv/
.venv/
env/
ENV/
venv.bak/

pycache/
*.pyc
*.pyo
*.pyd

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
desktop.ini
$RECYCLE.BIN/

build/
dist/
*.egg-info/
*.egg
wheels/
pip-wheel-metadata/
parts/
var/
sdist/
develop-eggs/

.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
pytest-report.html

*.log
.log.
*.db
*.sqlite3
local_settings.py

.ipynb_checkpoints
.ruff_cache
.mypy_cache
instance/